<!DOCTYPE html>
<html xmlns="https:\\www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>User</h1>
    <p th:text="${message}"></p>
    <div th:if="${persons != null and !persons.empty}">
    <table border="1">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <tr th:each="persons : ${persons}">
            <td th:text="${persons.firstname}"></td>
            <td th:text="${persons.lastname}"></td>
            <td th:text="${persons.email}"></td>
            <td th:text="${persons.phone}"></td>
        </tr>
    </table>
    </div>
    <div th:if="${persons == null and persons.empty}">
        Data kosong
    </div>
</body>
</html>