<!DOCTYPE html>
<html xmlns="https:\\www.thymeleaf.org" 
xmlns:sec="https:\\www.thymeleaf.org/extras/spring-security"
lang="en">
  <!-- <head> -->
    <head th:replace ="layout/template :: head"></head>
    <!-- <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Home</title> -->
  <!-- </head> -->
  <body>
    <header th:replace ="layout/template :: header"></header>
    <a role="button" class="btn btn-dark mx-5 mb-3" th:href="@{/create}">Create Users</a>
    <p th:text="${message}"></p>
    <div th:if="${persons != null and !persons.empty}">
      <table class="table table-striped">
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr th:each="persons : ${persons}">
          <td th:text="${persons.firstname}"></td>
          <td th:text="${persons.lastname}"></td>
          <td th:text="${persons.email}"></td>
          <td th:text="${persons.phone}"></td>
          <td><a role="button" class="btn btn-warning col-6" th:href="@{/edit/}+${persons.id}" th:text="Edit"></a></td>
          <td><a role="button" class="btn btn-danger" th:href="@{/delete(id=${persons.id})}" th:text="Delete"></a></td>
        </tr>
      </table>
    </div>
    <div th:if="${persons == null and persons.empty}">Data kosong</div>
  </body>
  <footer th:replace ="layout/template :: footer"></footer>
  
</html>
